[user]
  name = Axel Vestberg
  email = axel.vestberg@gmail.com

[github]
  user = axelvestberg

[core]
  excludesfile = ~/.gitignore_global
  editor = nano
  filemode = false
  trustctime = false
    autocrlf = input